.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #C60;
  font-size: 16px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.productImage {
  height: 160px;
  width: relative;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product {
  color: #0066c0;
  padding: 20px;
  width: 180px;
  height: 236px;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 13px;
  padding-left: 1px;
  cursor: pointer;
}

#button {
  width: 35px;
  height: 40px;
  text-align: center;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
}

.prime {
  vertical-align: bottom;
}

.price {
  padding-left: 1px;
  color: #B12704;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.reviews {
  padding-top: 1px;
  color: #0066c0;
}